* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.person {
  background: rgb(192, 151, 151);
  color: #080000;
  width: 17rem;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 0.3rem;
  text-align: center;
  cursor: pointer;
}
.person:hover {
  box-shadow: 2px 5px 10px black;
}
.person img {
  border-radius: 100%;
  border-radius: 0.1rem solid teal;
}
img {
  width: 100px;
  height: 100px;
}
.person h4 {
  text-transform: uppercase;
  margin: 0rem 0;
  letter-spacing: 0.2rem;
  color: white;
}
.person-List {
  display: flex;
  justify-content: center;
  padding: 0px;
}
@media screen and (max-width: 700px) {
  .person-List {
    display: block;
    justify-content: space-evenly;
  }
}
